<div class="col-md-10">
  <br>
  <h3>Edit this Category</h3><br>

  <%= render 'form', category: @category %>

  <%= link_to 'Show this Category', @category, class: 'btn btn-outline-info' %> 
  <%= link_to 'Back to all Categories', categories_path, class: 'btn btn-outline-primary' %>
</div>
