<div class="col-md-10">
  <br>
  <h3>Make a new Category</h3>

  <%= render 'form', category: @category %>

  <%= link_to 'Back to all Categories', categories_path, class: 'btn btn-outline-primary' %>
</div>
